:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55caee;
  --linkedin: #004985;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
}

header .nav-link {
  color: #4f483d;
}

.img_icon {
  width: 70px;
  height: auto;
}

main {
  padding: 0;
  margin: 0;
}

main .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 10px;
  height: 600px;
  background: url(/Img/wave-haikei.svg) no-repeat;
  background-size: cover;
}

main .section .section__one {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: start;
  padding: 0;
  margin: 0;
}

main .section .section__one .section__two {
  padding: 40px;
}

main .section .section__one .section__two p {
  margin-top: 20px;
}

main .section .section__one .section__two h2 {
  font-size: 40px;
}

main .section .section__one .section__two h1 {
  padding: 5px;
  font-size: 80px;
  color: #000000;
}

.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding: 0;
}

.txt .txt__one {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

.txt .txt__one h3 {
  font-size: 80px;
  color: #000000;
  padding: 5px;
}

.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(192, 192, 192, 0.205);
  height: 200px;
}

.caja .caja__2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja .caja__2 h4 {
  font-size: 60px;
}

.redes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes-container h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
}

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: white;
  line-height: 50px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.redes-container ul li a .redes-container ul li a:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes-container ul li a .redes-container ul li a:hover .redes-container ul li a .redes-container ul li a:hover .redes-container ul li a .redes-container ul li a:hover:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.redes-container ul li .facebook:hover {
  background: var(--facebook);
}

.redes-container ul li .instagram:hover {
  background: var(--instagram);
}

.redes-container ul li .twitter:hover {
  background: var(--twitter);
}

.redes-container ul li .linkedin:hover {
  background: var(--linkedin);
}
/*# sourceMappingURL=index.css.map */