$colorbg: rgba(192, 192, 192, 0.205);
$colortext: rgb(223, 223, 223);
$colortittle: #000000;
$colorhe: #3b5999;

:root{
--facebook: #3b5999;
--instagram: #e4405f;
--twitter: #55caee;
--linkedin: #004985;

}




body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}
header {

    .nav-link {
        color:$colorhe;
    }
}

main{
    padding: 0;
    margin: 0;
    
    .section {
        display: flex;
        padding: 0;
        margin-top: 10px;
        height: 600px;
        background: url(/Img/wave-haikei.svg) no-repeat ;
        background-size: cover;

        .section__one {
            align-items:baseline;
            text-align: start;
            padding: 0;
            margin: 0;

            .section__two {
                padding: 40px;

                p {
                    margin-top: 20px;
                }

                h2 {
                    font-size: 40px;
                }

                h1 {
                    padding: 5px;
                    font-size: 80px;
                    color:$colortittle;
                }
            }
        }
    }
}
.txt {
    display: flex;
    margin-top: 80px;
    padding: 0;


    .txt__one {
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        
        h3 {
            font-size: 80px;
            color: $colortittle;
            padding: 5px;

        }
    }
}

.caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $colorbg;
    height: 200px; 
    
    .caja__2 {
        text-align: center;
        align-items: center;

        h4 {
            font-size: 60px;
        }
    }
}
.redes-container {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;

    & h4 {
        display: flex;
        justify-content: center;
        font-size: 60px;

    } ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;

        & a {
            display: block;
            padding: 0 10px;
            background: #333;
            color: rgb(255, 255, 255);
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
            transition: .2s;

            & &:hover {
                filter: blur(2px);

                & & &:hover{
                    transform: translateY(-3px) scale(1.05);
                    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
                    filter: none;
                }
            }
        }
    }
}
.redes-container ul li .facebook:hover {
    background: var(--facebook);
}
.redes-container ul li .instagram:hover {
    background: var(--instagram);
}
.redes-container ul li .twitter:hover {
    background: var(--twitter);
}
.redes-container ul li .linkedin:hover {
    background: var(--linkedin);
}

.job__one{
    display: flex;
    width: 100%;
    height: 100vh;

    h3 {
        font-size: 90px;
    }
}
 .job {
     width: 100%;
     height: 400px;

    h1 {
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
        background: #715DF2;
        height: 100px;
        font-size: 60px;
    }
}
     